<div class="col-md-5 col-md-offset-2 text-center">
    <% @posts.each do |post| %>
    <table style="width: 100%;">
      <tr>
        <% if post.user_avatar %>
            <td style="padding: 0;"><%= image_tag post.user_avatar %></td>
        <% else%>
            <td><%=post.user_avatar%></td>
        <% end %>
        <td width="250" style="font-size: 14px; text-align: left;"><%= link_to "#{post.title}", post %></td>
        
      </tr>
      <tr>
        <td></td>
        <td style="text-align: left; font-size: 10px;"><%= post.description %></td>
      </tr>
      
    </table>
    <hr style="margin: 10px;">
    <% end %>

</div>
