<h1>ユーザー情報</h1>
<hr>
<% if @user.avatar? %>
	<%= image_tag @user.avatar.thumb.url %>
<% end %>
<p><b><%= @user.name %></b></p>
<p><%= @user.self_introduction %>
<p><%= link_to "編集",{ :action => "edit",id: @user.id} , class:"btn btn-primary"%></p>