<div>
	<% if notice %> 
	  	<div style="padding: 15px;">
	    	<p class="alert alert-success"><%= notice %></p>
	  	</div>
	<% end %>
	<% if alert %>
	  	<div style="padding: 15px;">
	    	<p class="alert alert-danger"><%= alert %></p>
		</div>
	<% end %>

</div>
  